@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/scc/StyleSheet1.css" rel="stylesheet" />
</head>
<body>

    <div class="jumbotron">
        <h1>JALKAHOITOLA</h1>
        <p class="lead">Tervetuloa Point Collegen jalkahoitolaan!.</p>
        <p style="flood-color:orangered"><a href="/productgroups" class="btn btn-primary btn-lg">Product Groups &raquo;</a> </p>
        <p><a href="/EditData/EditDataIndex" class="btn btn-primary btn-lg">Edite Product  &raquo;</a></p>
    </div>



    <div class="ex2">
        <h2>joitakin tietoja point college</h2>
        <p>
            Point College, Aikuiskoulutus tarjoaa perus- ja ammattitutkintoja sekä lisäkoulutusta liiketalouden ja tietotekniikan sekä kasvatus-, sosiaali- ja terveysalan osa-alueilta.<br>
            Tarjoamme merkonomin, datanomin ja lähihoitajan perustutkinnon oppisopimuksella. Meillä voi suorittaa ammatillisena lisäkoulutuksena yrittäjän, myynnin, taloushallinnon, tieto- ja viestintätekniikan, lähiesimiestyön, sihteerin ammattitutkinnon ja jalkojenhoidon ammattitutkinnon sekä muuta lisäkoulutusta..
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Lue lisää &raquo;</a></p>
    </div>
    <div class="ex1">
        <h2>Mitä voimme tehdä</h2>
        <ul>
            Jalkahoitoon sisältyvät toimenpiteet:
            <li>jalkapeilitutkimus ja jalkaterän kunnon arviointi</li>
            <li>jalkakylpy</li>
            <li>kynsien leikkaus ja hoito</li>
            <li>mahdolliset kovettumat kantapäissä</li>
            <li>liikavarpaat</li>
            <li>”syylät”</li>
            <li>tarvittaessa doppler-mittaus (jalkaterän verenkierron tarkistus)</li>
            <li>kevyt hieronta ja rasvaus</li>
        </ul>
        <p>
            <a class="btn btn-default" href="http://www.pointcollege.fi/aikuiskoulutus/tutkinnot/kasvatus-sosiaali-ja-terveysala/jalkojenhoidon-ammattitutkinto/">Lue lisää.&raquo; </a>
        </p>
    </div>
</body>
</html>