<div class="jumbotron">
    <h1>Jalkahoitola</h1>
    <p class="lead">Here you can add data to tables.</p>
    <p><a href="/EditProductGroups/Create" class="btn btn-primary btn-lg">Edit ProductGroups &raquo;</a></p>
    <p><a href="/EditProducts/Create" class="btn btn-primary btn-lg">Edit Products  &raquo;</a></p>
    <p><a href="/EditRecievedAmmount/Create" class="btn btn-primary btn-lg">Edit Recieved ammount &raquo;</a></p>
    <p><a href="/EditStocks/Create" class="btn btn-primary btn-lg">Edit Stock  &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Just in case</h2>
        <p>
            Just saving these for now, if needed
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Here is nothing</h2>
        <p>Something to here.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nothing here</h2>
        <p>Also nothing here.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
